td
{
	color: white;
	font-weight: 900;
	font-family: verdana;
	font-size: 60px;
}
code
{
	font-weight: 100;
	font-size: 40px;
	font-family: arial;
}

table 
{ 
	border-collapse:collapse 
}

h1
{
	color: #00d8e9;
	font-family: verdana;
	font-size: 40px;
	color: white;
	background: transparent;
	border: 2px solid #00d8e9;
	border-radius: 5px;
	posittion:  relative;
	margin: 12px 15% 35px 15%;
}

.JUL
{
	background-color: #2f2aa2;
}
.PNL
{
	background-color: #a1a2d2;
}
.NINHO
{
	background-color: #2d2e33;
}
.NAKAMURA
{
	background-color: #202042;
}
.GIMS
{
	background-color: #c6a387;
}
.DAMSO
{
	background-color: #b3282f;
}
.NEKFEU
{
	background-color: #99a1a3;
}
.BOOBA
{
	background-color: #481482;
}
.NISKA
{
	background-color: #77b795;
}
.DADJU
{
	background-color: #ad1a2c;
}

button
{
	color: #00d8e9;
	font-family: verdana;
	font-size: 30px;
	background: transparent;
	cursor: pointer;
	border: 2px solid #00d8e9;
	border-radius: 5px;
	text-decoration: None;
	posittion:  relative;
	padding: 10px 20px;
	transition: .5s all;
}

button:hover 
{
	background-color: #00d8e9;
	color: #112337;
}