header
{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 350px 1.5% 24px 1.5%;

}
code1
{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5rem 1.5% 24px 1.5%;
}
code2
{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 40px 1.5% 24px 1.5%;
}
h1
{
	color: white;
	font-size: 35px;
	font-family: verdana;
	text-align: center;
	margin: 70px 1.5% 24px 1.5%;
}

button
{
	color: #00d8e9;
	font-family: verdana;
	font-size: 12px;
	background: transparent;
	cursor: pointer;
	border: 2px solid #00d8e9;
	border-radius: 5px;
	text-decoration: None;
	posittion:  relative;
	padding: 10px 20px;
	transition: .5s all;
}

button:hover 
{
	background-color: #00d8e9;
	color: #112337;
}
center
{
	color: white;
	font-family: verdana;
	font-size: 50px;
}
